.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 2rem;

    &__checkbox {
        display: none;
    }
    
    &__button {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 8rem;
        right: 2rem;
        color: black;
        z-index: 200;
        background-color: #fff;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.1);
        text-align: center;
    }

    &__background {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 8rem;
        right: 2rem;
        background: radial-gradient($color-primary, $color-primary-light);
        z-index: 100;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;

        opacity: 0;
        width: 0;
        transition: opacity .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 2rem 1rem;
    }

    &__link{
        &:link, &:visited {
            font-size: 2.4rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 240%;
            transition: all .3s;
        }
        
        &:hover, &:active {
            background-position: 100%;
            color: $color-primary;
        }
    }

    &__checkbox:checked ~ &__background{
        transform: scale(150);
    }
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    &__icon {
        position: relative;
        margin-top: 2.5rem;

        &, &:before, &:after {
            width: 2.5rem;
            height: 2px;
            background-color: $color-dark;
            display: inline-block;
        }
        &:before, &:after {
            content: '';
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &:before { 
            top: -.7rem; 
        }
        &:after {
            top: .7rem;
        }
    }

    &__button:hover &__icon::before {
        top: -.8rem;
    }
    &__button:hover &__icon::after {
        top: .8rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;

        &::before {
            top: 0;
            transform: rotate(135deg);
        } 
        &::after {
            top: 0;
            transform: rotate(-135deg);
        } 
    }
}

@media screen and (min-width: $break-lg) {
    .navigation {
        img {
            height: 4rem;
        }
        &__button {
            display: none;
        }
        &__background {
            display: none;
        }
        &__nav {
            position: static;
            width: 100%;
            height: auto;
            opacity: 1;
        }
        &__list {
            position: static;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            left: 0;
            top: 0;
            transform: none;
        }
        &__item {
            background-image: none;
            padding: 1rem 1.4rem;

            &--bordered {
                border: 2px solid $color-dark;
                transition: all .2s;

                &:hover {
                    border: 2px solid $color-primary;
                }
            }
        }
        &__link {
            &:link, &:visited {
                font-size: 1.6rem;
                font-weight: 400;
                color: black;
                padding: 0;
            }
            &:hover, &:active {
                color: $color-primary;
            }
        }
    }
}