.testimonials {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;

    &__controls {
        font-size: 2rem;
        align-self: center;

        @media screen and (min-width: $break-lg) {
            margin-top: 2rem;
            font-size: 3rem;
        }

        & i {
            margin: 0 1rem;
            cursor: pointer;
        }
    }
}